:root{
    --font-source-serif-4: 'Source Serif 4', serif;
    --font-source-serif-pro: 'Source Serif Pro', serif;
    --color-caramelo: #A54328;
    font-family: var(--font-source-serif-pro);
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    color: var(--color-caramelo);
    font-size: 1.6rem;
}

main{
    max-width: 32rem;
    margin-inline: auto;
    padding: 5.6rem 4rem;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

img{
    width: 100%;
    margin-block: 3.2rem;
}

h1, h2{
    /* clamp(min, ideal, alto) */
    font-size: clamp(2.8rem, 2vw + 1rem, 4rem);
    line-height: clamp(3.6rem, 2vw + 1rem, 5rem);
    font-weight: 700;
}

h2{
    margin-bottom: 3.2rem;
}

p, li, strong{
    font-size: clamp(1.4rem, 1vw + 0.4rem, 2rem);
    font-weight: 400;
    line-height: clamp(1.8rem, 1vw + 1rem, 2.5rem);
}

strong{
    font-weight: 700;
}

ul, ol{
    padding-left: 2.4rem;
}

ul{
    margin-bottom: 2.4rem;
}

button{
    font-family: var(--font-source-serif-4);
    font-weight: 500;
    background-color: var(--color-caramelo);
    color: #ffffff;
    border: 0;
    padding: .8rem 1.2rem;
    border-radius: .5rem;
    margin-top: 3.2rem;
}

@media (min-width: 1120px){
    body{
        background: url(./assets/background.png), lightgray 50% / cover no-repeat;
    }

    main{
        margin-top: 9rem;
        flex-direction: row;
        max-width: fit-content;
        gap: 18rem;
    }

    .recipe{
        max-width: 43.5rem;
    }

    .ingredientes{
        max-width: 52.5rem;
    }

    button{
        padding: 1rem 2rem;
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
}